# Supabase configuration
NEXT_PUBLIC_SUPABASE_URL="" # Example: https://example.supabase.co
SUPABASE_SERVICE_ROLE_KEY="" # Your service role key here

#authorization
JWT_SECRET=""  # Clave secreta para firmar los JWT
JWT_EXPIRES_IN="" # Tiempo de expiración del token (ej. 7h, 1d)
ISSUER=""  # Identificador de quién emite el token
AUDIENCE=""  # Público objetivo del token (puede ser "all" o tu frontend)

# Cookie Configuration
AUTH_COOKIE_MAX_AGE= numero  # tiempo en segundos
NODE_ENV=development # por defecto en development

# supabase bucket configuration
SUPABASE_BUCKET_NAME="" # Nombre del bucket donde se guardan imágenes/comprobantes


# privy configuration
NEXT_PUBLIC_PRIVY_APP_ID=""
